<%= partial "partials/speakers_list" %>

<div class="row">
    <%
    CODEFRONIO_SPEAKERS.each do |speaker|
        full_name = speaker[0]
        ext = "jpg"
        ext = "png" if full_name == "Empty"
        avatar = "/public/images/speakers/%s.%s" % [full_name.to_url, ext]
        
        github = "http://github.com/%s" % speaker[1][0]
        github = false if speaker[1][0] == '?'
        twitter = "http://twitter.com/%s" % speaker[1][1]
        
        unless speaker[1][2].nil?
          dribbble = "http://dribbble.com/%s" % speaker[1][2]
        else
          dribbble = false
        end
        
        avatar = "/public/images/speakers/empty.png" unless File.exist?("#{ENV['MM_ROOT']}/source#{avatar}")
        
        if speaker[2].instance_of?(Array)
            company_name = speaker[2][0]
            company_url = "http://%s" % speaker[2][1]
            company_info = "<a href=\"#{company_url}\">#{company_name}</a>"
        else
            company_info = speaker[2]
        end
        
        bio = Tilt['md'].new { speaker[3] }.render
        %>
        <div class="col-md-4 col-sm-6">
            <div class="speaker">
                <div class="avatar"><img src="<%= avatar %>" alt="<%= full_name %>" onerror="avatarFallback(this)" /></div>
                <h2>
                    <% if github %><a href="<%= github %>"><i class="fa fa-github"></i></a><% end %>
                    
                    <a href="<%= twitter %>"><i class="fa fa-twitter"></i></a>

                    <% if dribbble %><a href="<%= dribbble %>"><i class="fa fa-dribbble"></i></a><% end %>
                    
                    
                    <%= full_name %>
                    <small><%= company_info %></small>

                </h2>
                <hr>
                <div class="bio">
                  <%= bio %>
                </div>
                <hr>
            </div>
        </div>
        <%
    end
    %>
</div>
<div class="row">
    <div class="col-xs-12">
        <p class="lead lead-webbox">There are more speakers to come!</p>
        <p>Stay tuned for more awesome surprises!</p>
    </div>
</div>

