<div class="row">
    <%
    tickets = [
      [
        'Exclusive',
        '150',
        'exclusive',
        'Includes hot/cold beverages, lunch menu and <strong>after-party</strong>.',
        #'sold-out'
      ],
      [
        'Standard',
        '125',
        'standard',
        'Includes hot/cold beverages and lunch menu.',
        #'sold-out'
      ],
      [
        'Student',
        '75',
        'student',
        'Includes hot/cold beverages and lunch menu.',
        #'sold-out'
      ],
      [
        'Early Bird',
        '100',
        'early-bird',
        'Includes hot/cold beverages, lunch menu and <strong>after-party</strong>.',
        #'sold-out'
      ],
    ]
    
    tickets.each do |ticket|
    %>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="ticket ticket-<%= ticket[2] %> <%= ticket[4] %>">
            <i class="fa fa-ticket"></i>
            <h2><%= ticket[0] %></h2>
            <h3>&euro; <%= ticket[1] %></h3>
            <% if ticket[4] != 'sold-out' %>
                <a class="btn btn-default" href="http://codefront2014.eventbrite.com">
                    Buy Now!
                </a>
            <% else %>
                <a class="btn btn-disabled" href="#tickets">SOLD OUT!</a>
            <% end %>
            <p><%= ticket[3] %></p>
        </div>
    </div>
    <% end %>
</div>
