<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li class="active"><a target="_self" href="#home">Home</a></li>
                <li><a target="_self" href="#speakers">Speakers</a></li>
                <li><a target="_self" href="#about">About</a></li>
                <li><a target="_self" href="#calendar">Calendar</a></li>
                <li><a target="_self" href="#tickets">Tickets</a></li>
                <li><a target="_self" href="#sponsors">Sponsors</a></li>
                <li><a target="_self" href="#team">Team</a></li>
                <li><a href="http://twitter.com/codefrontio"><i class="fa fa-twitter"></i></a></li>
                <li>
                    <a href="https://www.facebook.com/pages/Codefrontio-2014/597240123684175">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li><a target="_self" href="mailto:hello@webbox.io?subject=codefront.io"><i class="fa fa-envelope"></i></a></li>
            </ul>
        </div>
    </div>
</nav>

<header id="home">
    <div class="block transparent">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <img id="codefront-sign" src="/public/images/sign.png" alt="codeFron.io" />
                    <img id="codefront-logotype" src="/public/images/logotype.png" alt="codeFron.io" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p class="lead">Front-end Development Conference</p>
                    <time datetime="2014-05-10T09:00:00+02:00">May 10, 2014</time>
                    <p>Johannes Kepler University, Linz / Austria</p>
                    <p><a href="http://twitter.com/codefrontio"><i class="fa fa-twitter fa-4x"></i></a></p>
                </div>
            </div>
        </div>
    </div>
</header>


<div id="speakers" class="block">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Speakers</h1>
            </div>
        </div>
        
        <%= partial "partials/speakers" %>
    </div>
</div>


<div id="about" class="block">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>About</h1>
            </div>
        </div>
        
        <%= partial "partials/about" %>
    </div>
</div>


<div id="calendar" class="block">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Calendar</h1>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12">
                <p class="lead">To be announced later...</p>
                <p>Meanwhile, you can check <a href="http://lanyrd.com/2014/codefront-io/">Lanyrd</a> for a list of confirmed speakers.</p>
            </div>
        </div>
        
    </div>
</div>


<div id="tickets" class="block">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Tickets</h1>
            </div>
        </div>

        <%= partial "partials/tickets" %>
    </div>
</div>

<div id="venue" class="block">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Venue</h1>
            </div>
        </div>
        <%= partial "partials/venue" %>
    </div>
</div>


<div id="sponsors" class="block">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Sponsors</h1>
            </div>
        </div>
        
        <%= partial "partials/sponsors" %>
    </div>
</div>


<div id="team" class="block">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Team</h1>
            </div>
        </div>
        
        <%= partial "partials/team" %>
        
    </div>
</div>


<div id="code-of-conduct" class="block">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Code of Conduct</h1>
                
                <%= partial "partials/code_of_conduct" %>
            </div>
        </div>
    </div>
</div>


<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a href="http://webbox.io"><img src="/public/images/webbox.png" alt="webBox.io" /></a>
                <p>
                    <span><a href="http://webbox.io"><i class="fa fa-home"></i></a></span>
                    <span><a href="http://twitter.com/webbox.io"><i class="fa fa-twitter"></i></a></span>
                    <span><a href="mailto:hello@webbox.io?subject=codefront.io"><i class="fa fa-envelope-o"></i></a></span>
                    <span>&copy; 2014</span>
                </p>
            </div>
        </div>
    </div>
</footer>
